@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #141214;
  color: white;
}

.content {
  min-width: 350px;
  width: 600px;
  background-color: #2454de;
  height: 220px;
  border-radius: 1rem;
  display: grid;
  place-items: end start;
  position: relative;
  padding: 2rem;
}
.title {
  position: absolute;
  bottom: calc(2rem);
  left: 2rem;
  transition: all 150ms ease-in-out;
}
.form-content {
  width: 100%;
  position: relative;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control {
  transform: scale(0, 0);
  transition: opacity 150ms ease-in-out;
  width: 100%; /* opacity: 0; */
  padding: 0.9rem;
  background-color: transparent;
  border: 1px solid #4975eb;
  border-radius: 0.25rem;
  color: white;
  opacity: 0;
}
.form-control::placeholder {
  color: #4975eb;
  font-weight: bold;
}
.form-control:focus,
.submit-btn:focus {
  outline: none;
}
.submit-btn-div {
  background-color: white;
  border-radius: 0.25rem;
  position: relative;
  color: #2a2a2a;
  cursor: pointer;
  padding: 0.085rem 0.5rem;
  position: absolute;
  right: 0.25rem;
  top: calc(0% + 0.56rem / 2 + 1px);
  user-select: none;
}
.submit-btn {
  user-select: none;
  background-color: white;
  border-radius: 0.25rem;
  position: relative;
  color: #2a2a2a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0.6rem;
  border: 0;
  position: absolute;
  right: 0.25rem;
  top: calc(0% + 0.56rem / 2 + 1px);
  font-weight: bold;
}
img {
  margin-top: 0.4rem;
}

.form-enable-title {
  transform: translateY(calc(-220px + 7rem));
}

.form-enable-input {
  opacity: 1;
  transform: scale(1, 1);
}
.tick-icon {
  margin: 0;
  width: 18px;
}
.submit-btn-text {
  margin: 0;
}
